services:
  mariadb:
    container_name: mariadb
    image: mariadb
    build:
      context: ./requirememnts/mariadb
      dockerfile: Dockerfile
    env_file:
      - .env
    volumes:
      - db-data:/var/lib/mysql
    networks:
      - inception
    restart: unless-stopped

  wordpress:
    container_name: wordpress
    image: wordpress
    build:
      context: ./requirememnts/wordpress
      dockerfile: Dockerfile
    env_file:
      - .env
    volumes:
      - wp-data:/var/www/html
    networks:
      - inception
    depends_on:
      - mariadb
    restart: unless-stopped

  nginx:
    container_name: nginx
    image: nginx
    build:
      context: ./requirememnts/nginx
      dockerfile: Dockerfile
    env_file:
      - .env
    ports:
      - "443:443"
    volumes:
      - wp-data:/var/www/html
      - ssl-data:/etc/nginx/ssl
    networks:
      - inception
    depends_on:
      - wordpress
    restart: unless-stopped

networks:
  inception:
    driver: bridge

volumes:
  db-data:
    driver: local
    driver_opts:
      type: none
      o: bind
      device: ${DATA_PATH}/mysql
  wp-data:
    driver: local
    driver_opts:
      type: none
      o: bind
      device: ${DATA_PATH}/wordpress